<template>
                 
    <div class="logIn_user">

        <img src="https://www.encuentraloenputumayo.com/wp-content/uploads/2018/01/drogueria-guamuez-la-hormiga-putumayo-5.jpg">
        
        <br>
        <br>
        <br>

        <div class="container_logIn_user">

            

            <h2>INVENTARIOS</h2>

    
                
                <form v-on:submit.prevent="processLogInUser" >
                <input type="text" v-model="user.username" placeholder="Usuario">
                <br>
                <input type="password" v-model="user.password" placeholder="Contraseña">
                <br>                
                <button type="submit">Iniciar Sesión</button>
                </form>
                 
        </div>
    </div>
</template>


<script>
import gql from "graphql-tag";

export default {
    name: "LogIn",

    data: function() {
    return {
        user: {
            username: "",
            password: "",
        },
    };
},

methods: {
    processLogInUser: async function() {
        await this.$apollo
            .mutate({
                mutation: gql`
                    mutation($credentials: CredentialsInput!) {
                    logIn(credentials: $credentials) {
                    refresh
                    access
                    }
                }
`,
                variables: {
                  credentials: this.user,
                },
            })
            .then((result) => {
                let dataLogIn = {
                    username: this.user.username,
                    token_access: result.data.logIn.access,
                    token_refresh: result.data.logIn.refresh,
            };

            this.$emit("completedLogIn", dataLogIn);
            })
            .catch((error) => {
                alert("ERROR 401: Credenciales Incorrectas.");
            });
        },
    },
}
</script>


<style>

.logIn_user{
    margin: 0;
    padding: 0%;
    height: 100%;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
 }

.container_logIn_user {
    border: 4px solid #057732;
    border-radius: 20px;
    width: 25%;
    height: 65%;
    float: left;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
 }

.logIn_user h2{
    color: #283747;
 }

.logIn_user form{
    width: 70%;
 }

.logIn_user input{
    height: 40px;
    width: 100%;
    box-sizing: border-box;
    padding: 10px 20px;
    margin: 5px 0;
    border: 1px solid #109D48;
}

.logIn_user button{
    width: 100%;
    height: 40px;
    color: #E5E7E9;
    background: #109D48;
    border: 1px solid #E5E7E9;
    border-radius: 5px;
    padding: 10px 25px;
    margin: 5px 0;
 }

.logIn_user button:hover{
    color: #E5E7E9;
    background: rgb(4, 136, 21);
    border: 1px solid #283747;
 }

</style>
